<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/oluoluoxenfree/" target="_blank">@oluoluoxenfree</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/oluoluoxenfree/" target="_blank">@oluoluoxenfree</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/oluniyiawosusi" target="_blank">linkedin.com/in/oluniyiawosusi</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://opentagclosetag.com/" target="_blank">opentagclosetag.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:oluoluoxenfree@gmail.com" target="_blank">oluoluoxenfree@gmail.com</a></p>
